/* App.css */

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board {
  margin-right: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the text vertically */
}

.square:focus {
  outline: none;
}

.square.X,
.square.O {
  color: black;
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

ol {
  padding-left: 0;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}